<div class="nested-fields">
  <label>Banco</label>
  <%= f.text_field :bank_name, class: 'form-control' %>

  <label>Tipo</label>
  <%= f.text_field :type_account, class: 'form-control' %>

  <label>Agência</label>
  <%= f.text_field :agency, class: 'form-control' %>

  <label>Conta</label>
  <%= f.text_field :account, class: 'form-control' %>

  <label>Operação</label>
  <%= f.text_field :operation, class: 'form-control' %>
</div>
