<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Procstudio</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
      <%= link_to home_index_path, class:'nav-link' do %>
        <i class="fa fa-home"></i> Página inicial
      <% end %>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        AÇÕES RÁPIDAS
    </div>

    <li class="nav-item">
        <a class="nav-link" href="#" >
            <i class="fa fa-user"></i>
            <span>Novo Cliente</span>
        </a>

        <a class="nav-link" href="#" data-toggle="modal" data-target="#clientModal" >
          <i class="fa fa-user"></i>
          Novo Cliente
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" >
            <i class="fa fa-gavel"></i>
            <span>Novo Trabalho</span>
        </a>
    </li>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        GERAL
    </div>

    <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          data-toggle="collapse"
          data-target="#collapseClient"
          aria-expanded="false"
          aria-controls="collapseClient">
            <i class="fa fa-users"></i>
            <span>Clientes</span>
        </a>

        <div
          id="collapseClient"
          class="collapse"
          aria-labelledby="headingClient"
          data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações:</h6>
                <a class="collapse-item" href="login.html">Lista de clientes</a>
                <a class="collapse-item" href="login.html">Novo cliente</a>
            </div>
        </div>
    </li>

    <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          data-toggle="collapse"
          data-target="#collapseWork"
          aria-expanded="false"
          aria-controls="collapseWork">
            <i class="fa fa-gavel"></i>
            <span>Trabalhos</span>
        </a>

        <div
          id="collapseWork"
          class="collapse"
          aria-labelledby="headingWork"
          data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações:</h6>
                <a class="collapse-item" href="login.html">Lista de Trabalhos</a>
                <a class="collapse-item" href="login.html">Novo Trabalho</a>

            </div>
        </div>
    </li>

    <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          data-toggle="collapse"
          data-target="#collapseTask"
          aria-expanded="false"
          aria-controls="collapseTask">
            <i class="fa fa-list"></i>
            <span>Tarefas</span>
        </a>

        <div
          id="collapseTask"
          class="collapse"
          aria-labelledby="headingTask"
          data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações:</h6>
                <a class="collapse-item" href="login.html">Lista de Tarefas</a>
                <a class="collapse-item" href="login.html">Nova Tarefa</a>

            </div>
        </div>
    </li>

    <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          data-toggle="collapse"
          data-target="#collapseOffice"
          aria-expanded="false"
          aria-controls="collapseOffice">
            <i class="fa fa-bank"></i>
            <span>Escritórios</span>
        </a>

        <div
          id="collapseOffice"
          class="collapse"
          aria-labelledby="headingOffice"
          data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações:</h6>

                <%= link_to 'Lista de Escritórios', offices_path, class: 'collapse-item' %>

                <%= link_to 'Novo Escritório', new_office_path, class: 'collapse-item' %>

            </div>
        </div>
    </li>

    <li class="nav-item active">
        <a
          class="nav-link"
          href="#"
          data-toggle="collapse"
          data-target="#collapseUser"
          aria-expanded="false"
          aria-controls="collapseUser">
            <i class="fa fa-users"></i>
            <span>Usuários</span>
        </a>

        <div
          id="collapseUser"
          class="collapse"
          aria-labelledby="headingUser"
          data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Ações:</h6>

                <%= link_to 'Novo usuário', new_profile_admin_path, class: 'collapse-item' %>

                <% if current_admin&.profile_admin&.nil? %>
                  <p class="collapse-item" >Atualize seu dados</p>

                <% else %>
                  <%= link_to 'Lista de Usuários', profile_admins_path, class:'collapse-item' %>

                  <%= link_to 'Editar meu usuário', edit_profile_admin_path(current_admin.profile_admin), class:'collapse-item' %>

                <% end %>

            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

</ul>

<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Selecione um tipo de cliente!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="container-modal col-md-12">

              <div>
                <%= link_to new_person_path, class: 'btn btn-outline-primary color-btn' do %>
                  <i class="fa fa-user fa-4x btn-icon"></i> <br>
                  Pessoa Física
                <% end %>

              </div>

              <div>
                <%#= link_to new_client_path(type: 'pj'), class: 'btn btn-outline-primary color-btn' do %>
                  <i class="fa fa-building fa-4x btn-icon"></i> <br>
                  Pessoa Jurídica
                <%# end %>

              </div>

              <div>
                <%#= link_to new_client_path(type: 'cont'), class: 'btn btn-outline-primary color-btn' do %>
                  <i class="fa fa-users fa-4x btn-icon"></i> <br>
                  Contador
                <%# end %>

              </div>

              <div>
                <%#= link_to new_client_path(type: 'rep'), class: 'btn btn-outline-primary color-btn' do %>
                  <i class="fa fa-calculator fa-4x btn-icon"></i> <br>
                  Representante Legal
                <%# end %>

              </div>

            </div>

        </div>
    </div>
</div>
