<div id="example-basic">
  <h3>Dados Pessoais</h3>
  <section>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :type %>
    <%= f.text_field :type %>

    <%= f.label :cnpj %>
    <%= f.text_field :cnpj %>

    <%= f.label :rg %>
    <%= f.text_field :rg %>
  </section>

  <%= render partial: 'shared/contacts', locals: { f: f }  %>

</div>
