<div class="nested-fields">
  <%= f.label :bank_name %>
  <%= f.text_field :bank_name, class: 'form-control' %>

  <%= f.label :type_account %>
  <%= f.text_field :type_account, class: 'form-control' %>

  <%= f.label :agency %>
  <%= f.text_field :agency, class: 'form-control' %>

  <%= f.label :account %>
  <%= f.text_field :account, class: 'form-control' %>

  <%= f.label :operation %>
  <%= f.text_field :operation, class: 'form-control' %>
</div>
