<% if flash %>
  <% flash.each do |key, value| %>
    <%= javascript_tag do %>
        $.bootstrapGrowl('<%= value %>', {
        type: 'danger', // (null, 'info', 'danger', 'success')
        align: 'right', // ('left', 'right', or 'center')
        width: 'auto', // (integer, or 'auto')
        allow_dismiss: true, // If true then will display a cross to close the popup.
        stackup_spacing: 10 // spacing between consecutively stacked growls.
        });
    <% end %>
  <% end %>
<% end %>

<div id="devise-container">
  <%= image_tag 'logo_colorido_500.png', id:"devise-logo" %>
  <h2 class="devise-titles">Seja bem-vindo(a)!</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'seu_email@procstudio.com.br', class:'form-control devise-login-field' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: '******', class:'form-control devise-login-field' %>
    </div>

    <div class="actions">
      <%= f.submit 'Entrar', id:'devise-login-button' %>
    </div>
  <% end %>

  <%= render "admins/shared/links" %>
</div>
