<h2>Alterar senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label 'Senha', "Nova Senha" %><br />
    <% if @minimum_password_length %>
      <em>(mínimo de <%= @minimum_password_length %> caracteres)</em><br />
    <% end %>
    <%= f.password_field 'Senha', autofocus: true, autocomplete: "Nova Senha" %>
  </div>

  <div class="field">
    <%= f.label 'Confirmação de senha', "Confirmar nova senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nova senha" %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
